---
import ExperienceItem from "./ExperienceItem.astro";
import type { translations } from "@/utils/translations";

interface Props {
  experience: typeof translations.es.experience;
}

const { experience } = Astro.props;

const EXPERIENCIE = [
  {
    date: experience.dates.current,
    title: experience.positions.softwareEngineer,
    company: experience.companies.witi,
    description: experience.descriptions.witi,
  },
  {
    date: experience.dates.bice,
    title: experience.positions.softwareEngineer,
    company: experience.companies.bice,
    description: experience.descriptions.bice,
  },
  {
    date: experience.dates.uv,
    title: experience.positions.softwareEngineer,
    company: experience.companies.uv,
    description: experience.descriptions.uv,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>