<footer
  class="rounded-lg shadow m-4 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-white"
      >© 2023 <a
        href="https://rob-maclean.netlify.app"
        class="hover:underline"
        target="_blank">Roberto Mac lean</a
      >. Casi todos los derechos reservados. Se ha utilizado como template el
      siguiente proyecto de <a
        href="https://github.com/midudev/porfolio.dev.git"
        target="_blank"
        class="hover:underline">Midudev</a
      >.
    </span>
  </div>
</footer>
