---
const { pathname } = Astro.url;
const isEnglish = pathname.startsWith("/en");
const targetLang = isEnglish ? "es" : "en";
const targetPath = targetLang === "es" ? "/" : "/en";
---

<div class="relative ml-1 mr-1">
  <a
    href={targetPath}
    class="appearance-none border-none flex hover:scale-125 transition items-center gap-1 px-2 py-1 rounded-md text-xs font-medium bg-gray-100/50 dark:bg-gray-800/50 hover:bg-gray-200/50 dark:hover:bg-gray-700/50"
  >
    <span class="sr-only">Change language</span>
    <span class="text-gray-700 dark:text-gray-300">{targetLang.toUpperCase()}</span>
  </a>
</div>